.button-icon {
  padding: 0 4px;
  border: 0;
  background-color: transparent;
}

[type="search"].search-field {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.svg-map {
  width: 100%;
  height: auto;
}

.metric-tile {
  padding: 1.2rem;

  p {
    font-size: 1.3rem;
    margin: 0;
  }
}
