@import './index.scss';

:root {
  @media (min-width: 992px) {
    font-size: 20px;
  }
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Lato', Ubuntu, sans-serif;
  background: $primary;
  color: $white;
}

h1,
h2,
h3,
h4 {
  font-family: 'Gill Sans', Ubuntu, sans-serif;
  font-weight: bold;
  color: $secondary;
}

.container-md {
  @media (min-width: 992px) {
    max-width: 960px !important;
  }
}

.button-icon {
  padding: 0 4px;
  border: 0;
  background-color: transparent;
}

.outline-button {
  &:hover {
    color: white;
  }
}

.search-field {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  background-color: $primary !important;
  border-color: $secondary !important;
  color: white !important;

  + .nav {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: #5d4d54;
    max-height: 200px;
    overflow-y: auto;
    flex-wrap: nowrap;
    display: none;

    > .nav-link {
      color: white;
    }

    &:hover {
      display: flex;
    }
  }

  &:focus {
    + .nav {
      display: flex;
    }
  }

  &::placeholder {
    color: white;
  }
}

.svg-map {
  width: 100%;
  height: auto;
  fill: $secondary;
}

.metrics-list {
  > * {
    background-color: $secondary;
  }

  > :nth-child(4n + 2) {
    background-color: $pink-alternate;
  }

  > :nth-child(4n + 3) {
    background-color: $pink-alternate;
  }
}

.metric-tile {
  padding: 1.2rem;

  h3 {
    color: white;
  }

  p {
    font-size: 1.3rem;
    margin: 0;
  }
}

.filter-item-row {
  height: 32vw;
  max-height: 264px;
  min-height: 164px;
  padding: 0.5rem 0;

  > div {
    display: flex;
    height: 100%;
  }

  > :first-child {
    justify-content: center;
    padding: 0 0.6rem 0 0 !important;
  }

  svg {
    height: 100%;
    width: auto;
  }
}

.continent-map {
  fill: $secondary;

  g {
    fill: $secondary;
  }
}

.continent-metrics {
  padding: 0 !important;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
  }

  p {
    margin-bottom: 0.4rem;
  }

  @media (min-width: 576px) {
    h2 {
      font-size: 1.4rem;
    }
  }
}

.country-tile {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;

  h3 {
    margin-bottom: 0.3rem;
    color: white;
  }

  a {
    @media (max-width: 330px) {
      font-size: 0.85rem;
    }
  }

  small {
    margin-top: auto;
  }
}

.country-map {
  transform: scale(1, -1);
  width: auto;
  height: 35.6vw;
  min-height: 114px;
  max-height: 276px;

  path {
    fill: $secondary;
    stroke: $secondary;
    stroke-opacity: 1;
  }
}

.country-map-light {
  path {
    fill: lightgray;
    stroke: lightgray;
  }
}

.map-null {
  height: 35.6vw;
  min-height: 114px;
  max-height: 276px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.regions-list {
  background-color: $secondary;

  > :nth-child(even) {
    background-color: $pink-alternate;
  }
}

.search-field-result {
  &:focus,
  &:hover {
    background-color: #453c3c;
  }
}

.filters {
  padding: 0;

  select,
  input {
    min-width: 140px;
  }

  button {
    color: $secondary !important;
    background-color: $primary !important;
    border: 1px solid $secondary !important;
    border-radius: 6px !important;
    padding-top: 0.3rem;
    padding-bottom: 0;
    font-weight: bold;
    font-size: inherit;

    &::before {
      content: "";
      margin-left: auto;
    }

    &.collapsed {
      background-color: $secondary !important;
      color: white !important;
    }
  }

  .accordion-body {
    padding-left: 0;
    padding-right: 0;

    .row {
      row-gap: 1rem;
    }
  }

  @media (min-width: 768px) {
    .accordion-header {
      display: none;
    }

    .accordion-collapse.collapse {
      display: block !important;
    }

    .accordion-body {
      padding: 0;
    }
  }
}

.date-picker {
  padding: 0;
  width: auto;

  &::-webkit-datetime-edit {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
}

.headline {
  @media (max-width: 375px) {
    h2 {
      margin: 0;
    }

    p {
      font-size: 1.25rem !important;
    }
  }
}
