.button-icon {
  padding: 0 4px;
  border: 0;
  background-color: transparent;
}

[type="search"].search-field {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.svg-map {
  width: 100%;
  height: auto;
}

.metric-tile {
  padding: 1.2rem;

  p {
    font-size: 1.3rem;
    margin: 0;
  }
}

.filter-item-row {
  height: 32vw;
  max-height: 264px;
  
  > div {
    display: flex;
    height: 100%;
  }

  :first-child {
    justify-content: center;
  }

  svg {
    height: 100%;
    width: auto;
  }
}

.continent-metrics {
  padding: 0 !important;
  flex-direction: column;

  h2 {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
  }

  @media (min-width: 576px) {
    h2 {
      font-size: 1.4rem;
    }
  }
}
