@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/gill-sans');

$primary: #252427;
$secondary: #ec4c8a;
$pink-alternate: #ce4377;

@import '~bootstrap/scss/bootstrap.scss';
